@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
	font-family: 'Noto Sans JP', sans-serif;
}

h1{
	line-height: 1px ;
	font-weight: 900px;
}

th{
	background-color: orangered;
}

table{
	width: 60rem;
	height: 20rem;
	border-collapse: collapse;
	background-color: white;
	border-color: grey;
	box-shadow: -3px 3px 3px 0px lightgray;
}	

a{
	text-decoration: none;
}

#contain

/* change the font family and spacing as per your project font */
.footer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative;
	top: 750px;
	margin-left: 80px;
	font-size: 18px;
	font-family: Nunito Sans;
    font-style: normal;
    
}
